<h1>Albums Page</h1>

<h1>New album</h1>

<form action="/albums" method="POST">
  <label for="album_name">Album Name:</label><br>
  <input type="text" name="album_name"><br>

  <label for="genre">Genre:</label><br>
  <input type="text" name="genre"><br>

  <label for="current-stock">Current Stock:</label><br>
  <input type="number" name="current_stock"><br>

  <label for="ideal-stock">Ideal Stock:</label><br>
  <input type="number" name="ideal_stock"><br>

  <label for="artist-selection">Artist:</label><br>
  <select name="artist">
   <% @artists.each do |artist| %>
   <option value="<%= artist.id %>"><%= artist.artist_name %></option>
   <% end %>
 </select><br>


 <input class="btn btn--action" type='submit' value="Submit">
</form>