<form action="/moonstomp/new-album" method="POST">
  <label for="album_name">Album Name:</label><br>
  <input type="text" name="album_name"><br>

  <label for="genre">Genre:</label><br>
  <input type="text" name="genre"><br>


 <input class="btn btn--action" type='submit' value="Submit">
</form>