
<h1><a href="/">Moonstomp_Records</a></h1>




<!-- <ol>
  <li>Do wou want to add an <a href="/artists/new">artist</a> today?</li>
  <li>Do wou want to add an <a href="/albums/new">album</a> yet?</li>
</ol> -->
