<!DOCTYPE html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
  <title>Moonstomp Records</title>
</head>
<body>
<nav>
<li>
  <a href="/artists">Artists</a>
</li>
<li>
  <a href="/albums">Albums</a>
</li>
</nav>
<%= yield %>




</body>
</html>