<!DOCTYPE html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/style.css" media="screen">
<link href="https://fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">
<link rel="icon" href="/icon.png" />
  <title>Moonstomp_Records</title>
</head>
<body>

<ul>
  <li><a href="/artists">Artists</a></li>
  <li><a href="/albums">Albums</a></li>
  <li><a href="/artists/new">Add Artist</a></li>
  <li><a href="/albums/new">Add Album</a></li>
</ul>


<%= yield %>




<footer>Craigie-Boy Productions</footer>

</body>
</html>