html {
  font-family: 'Gruppo', cursive;
}


body {
  background-image: url('/record.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: left;
    border-bottom: 1px solid #474C55;
    border-left: 1px solid #474C55;
    display: inline;
}


a:link, a:visited {
    color: #474C55;
    padding: 14px 25px; 
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.artist-grid {
  display: flex;
  flex-wrap: wrap;
  width: 1080px;
}

.artist-name {
  flex: 1;
  padding: 10px;
  border: solid 1px #474C55;
  margin: 10px;
  display: inline-flex;
}

@media all and (min-width: 480px) {
  .artist-na {
    flex-direction: row;
  }
}
@media all and (min-width: 720px) {
  .grid-row-md {
    flex-direction: row;
  }
}
@media all and (min-width: 960px) {
  .grid-row-lg {
    flex-direction: row;
  }
}



