html {
  font-family: 'Gruppo', cursive;
}


body {
  background-image: url('/record.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: left;
    border-bottom: 1px solid #474C55;
    border-left: 1px solid #474C55;
    display: inline;
}


a:link, a:visited {
    color: #474C55;
    padding: 14px 25px; 
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.logo {
 float: right;
 margin-left: 30px;
}

.artist-grid {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.artist-name {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 1px solid #474C55; 
    border-radius: 5px; 
}

.artist-show {
  width: 15%; 
  height: auto;
  margin: 10px;
  border: 1px solid #474C55; 
  border-radius: 5px; 
  text-align: center;
}

.edit-artist {
  width: 25%; 
  height: auto;
  margin: 10px;
  border: 1px solid #474C55; 
  border-radius: 5px; 
  text-align: left;
  padding: 10px;
}


.album-grid {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.album-name {
    display: inline-block;
    width: 175px;
    height: 150px;
    margin: 10px;
    border: 1px solid #474C55; 
    border-radius: 5px;
    text-align: center; 
}

.new-album {
  width: 20%; 
  height: auto;
  margin: 10px;
  border: 1px solid #474C55; 
  border-radius: 5px; 
  text-align: left;
  padding: 10px;
}

.album-show {
  width: 15%; 
  height: auto;
  margin: 10px;
  border: 1px solid #474C55; 
  border-radius: 5px; 
  text-align: center;
  padding: 10px;
}

.edit-album {
  width: 25%; 
  height: auto;
  margin: 10px;
  border: 1px solid #474C55; 
  border-radius: 5px; 
  text-align: left;
  padding: 10px;
}


@media all and (min-width: 480px) {
  .album-name {
    flex-direction: row;
  }
}
@media all and (min-width: 720px) {
  .album-name {
    flex-direction: row;
  }
}
@media all and (min-width: 960px) {
  .album-name {
    flex-direction: row;
  }
}





