<h1><a href="/">Moonstomp_Records</a></h1>
<br>
<h2>Album_Page</h2>

<div class="album-grid">

  <% @albums.each do |album| %>

<figure class="album-name">

    <p>Album Name: <%= album.album_name %></p>
    <p>Genre: <%= album.genre %></p>
    <p>Stock Level: <%= album.percentage %></p>
    <p><a href="/albums/<%= album.id %>">View Album:</a></p>

    </figure>

<% end %>

</div>