<form action="/albums" method="POST">
  <label for="album_name">Album Name:</label><br>
  <input type="text" name="album_name"><br>

  <label for="genre">Genre:</label><br>
  <input type="text" name="genre"><br>

  <label for="current_stock">Current Stock Level:</label><br>
  <input type="text" name="current_stock"><br>

  <label for="ideal_stock">Ideal Stock Level:</label><br>
  <input type="text" name="ideal_stock"><br>

  <select name="artist_id" >
      <option value="" disabled selected>please select an artist</option>
      <% @artists.each do |artist| %>
        <option value="<%= artist.id %>"><%= artist.artist_name %></option>
      <% end %>
    </select>


   <input class="btn btn--action" type='submit' value="Submit">
  </form>


 

