<h1>Album Details</h1>


<% @album = Album.find(params[:id]) %>
<% @artist = Artist.find(params[:id]) %>
<h2>Album Name: <%= @album.album_name %></h2>

<h2>Genre: <%= @album.genre %></h2>
<h2>Stock Level: <%= @album.percentage %></h2>

<h2>Artist Name: <%= @artist.artist_name%></h2>

