<h1>Album Details</h1>


<h2>Album Name: <%= @albums.album_name %></h2>
<h2>Genre: <%= @albums.genre %></h2>
<h2>Stock Level: <%= @albums.percentage %></h2>
<h2>Artist Name: <%= @artists.artist_name%></h2>

