<h1><a href="/">Moonstomp_Records</a></h1>
  <br>
    <h2>Artist_Page</h2>
<div class="artist-grid">
<% @artists.each do |artist| %>
  <figure class='artist-name'>
    <p> 
      <a href="/artists/<%= artist.id %>"><%= artist.artist_name %></a>
    </p>
  </figure> 
<% end %>
</div>